body { 
    background: #1e293b; 
    color: white; 
    font-family: sans-serif; 
    text-align: center; 
  }

  #status{
    margin:10px;
  }

  #trainModel{
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  canvas { 
    display: block;
    margin: 20px auto;
    align-item: center;
    background: white; 
    cursor: crosshair; 
    width: 300px;
    height: 300px;
    border:turquoise;
  }

  #clear, #predictDigit {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  button:hover:enabled {
    background-color: #0056b3;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  h2 {
    margin-top: 20px;
  }